@import url('https://fonts.googleapis.com/css?family=Kanit');
body {
  font-family: 'Kanit', sans-serif;
  /* background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat; */
  
  color:#f3f3f3;
  /* background: #1f0c00;
  background:url("../../assets/images/bg-70.png");*/
  background-color: #1f0c00;
  /*background-image: url("../../assets/images/bg-150-opacity2.png");*/
}
.card-body .price , #status .price, #price .price{
  color:#5398ff!important;
}
.card-body .call , #status .call, #price .call{
  color:#ffc107!important;
}
.card-body .show , #status .show, #price .show{
  color:#3fc07c!important;
}
.card-body .sale , #status .sale, #price .sale{
  color:#f55!important;
}
.products_slider{
  text-align: center;
}
.products_slider .first_image img{
  max-height: 500px;
  height: 500px;
  width: auto!important;
  max-width: 100%;
  display: none;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: unset!important;
    text-decoration: none;
    background-color: unset!important;
}

@media (max-width: 900px){
.products_slider .first_image img{
    height: 300px;
}
.card-img-top {
    width: auto;
    }
}
.products_slider .first_image .active{
  display: unset;
}
.products_slider .thumbnails img{
  width: 20%!important;
  opacity: 1;
}
.products_slider .thumbnails .active{
  border: 1px solid #ffc107;
}
.products_slider .thumbnails{
  margin-top: 10px;
}
.modal.show .modal-dialog {
    margin-top: 5px;
}
.navbar-nav .active{
  border-bottom: 1px solid #ffffff;
}
.admin-mr-auto li{
  margin: 10px;
}
.modal-content {
    background-color: #383838;
  }

.mini-image-profile-shop{
    width: 50px;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}
.mini-image-profile-shop img{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.dot-circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
    line-height: 100px;
}
.table {
    color:#f3f3f3;
}
.dataTables_wrapper .table{
  color:#000;
}
.card-header {
    background-color: rgb(132, 64, 21);
}
.card-body ,.card-body .table ,.card-body-news{
    color: #000;
}
.modal .modal-body{
    color: #fff;
}
.modal .modal-body img{
    width:100%;
}
.card-body img{
    width: 100%;
}
.card-body-news img{
  width: 100%;
  height: 100%;
}
.card-body{
    padding: 0.5rem;
}
.card-body hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card-image-shop{
    width: 75%;    
    margin: auto;
    margin-top: -70px;
}
.modal-footer {
    display: unset;
}
.modal-content{
  color:#fff;
}
.rounded-circle {
    border: 3px solid #ffffff;
}
.rounded-circle:hover {
    border: 3px solid #f19524;
}
.card-custom {
  max-height: 25rem;
}
.table td, .table th {
    padding: .25rem;
}
.mb-1, .my-1 {
    margin-bottom: .50rem!important;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-control-file{
    display: unset;
    width: unset;
}
.view {
  position: relative;
  overflow: hidden;
  cursor: default;
  text-align: center;
/*  max-height: 140px;
  min-height: 140px;*/
}
.container-custom {
  margin: 20px 15px 0px 15px;
}
.margin-bottom-60{
  margin-bottom: 60px;
}
.hidden-text {
  max-width: 100px;
  /* max-height: 100px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020;
}

.sticky + .content {
  padding-top: 200px;
}

.header-image {
  background-image: url("../../assets/images/Logo/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -140px;
  height: 400px;
}

#navbar {
  /* font-size: 14pt; */
  padding: 20px 10px;
}

.btn-width-100 {
  /* width: 100px; */
}

.text-content {
  position: relative;
  margin-top: -40px;
}

.card-body-custom {
  border: 5px solid #ddd;
  margin-bottom: 25px;
}

.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.card-text-custom {
  overflow: hidden;
  white-space: nowrap;
                     text-overflow: ellipsis;
  height: 2em;
  font-size: 1em;
  line-height: 1em;
}

.thumb-contenido {
  margin-bottom:1%;
           margin-left: 0px;
  padding-left: 0px;
  }

/*footer*/
.col_white_amrc {
  color:#FFF;
}
footer {
  width:100%;
    background-color:#263238;
    min-height:250px;
    padding:10px 0px 25px 0px ;
    margin-top: 20px;
}
.pt2 {
  padding-top:40px ;
  margin-bottom:20px ;
}
footer p {
  font-size:13px;
  color:#CCC;
  padding-bottom:0px;
  margin-bottom:8px;
}
.mb10 {
  padding-bottom:15px ;
}
.footer_ul_amrc {
  margin:0px ;
  list-style-type:none ;
  font-size:14px;
  padding:0px 0px 10px 0px ;
}
.footer_ul_amrc li {
  padding:0px 0px 5px 0px;
}
.footer_ul_amrc li a{
  color:#CCC;
}
.footer_ul_amrc li a:hover{
  color:#fff;
  text-decoration:none;
}
.fleft {
  float:left;
}
.padding-right {
  padding-right:10px;
}

.footer_ul2_amrc {
  margin:0px;
  list-style-type:none;
  padding:0px;
}
.footer_ul2_amrc li p {
  display:table;
}
.footer_ul2_amrc li a:hover {
  text-decoration:none;
}
.footer_ul2_amrc li i {
  margin-top:5px;
}

.bottom_border {
  border-bottom:1px solid #323f45;
  padding-bottom:20px;
}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display:inline;
}
.foote_bottom_ul_amrc li a {
  color:#999;
  margin:0 12px;
}

.social_footer_ul {
  display:table;
  margin:15px auto 0 auto;
  list-style-type:none;
}
.social_footer_ul li {
  padding-left:20px;
  padding-top:10px;
  float:left;
}
.social_footer_ul li a {
  color:#CCC;
  border:1px solid #CCC;
  padding:8px;
  border-radius:50%;
}
.social_footer_ul li i {
  width:20px;
  height:20px;
  text-align:center;
}
.bg-dark{
    /*background-image: url(../../assets/images/logo/bg-dark.png);*/
    background-size: 100%;
    background-repeat: no-repeat;
}
.navbar-nav {
    padding-left: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.navbar-brand img {
    max-width: 350px;
}
@media (min-width: 1300px){
.navbar-brand img {
    max-width: 700px;
    margin-left: -150px;
}
}
@media (min-width: 1050px){
.modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
}
}
@media (min-width: 992px){
.navbar-expand-lg ,.navbar-expand-lg>.container{
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}
}
@media (max-width: 992px){
#navbarSupportedContent{
    background: #000;
    z-index: 999;
    padding: 10px;
}
.navbar-brand img {
    max-width: 250px;
}
}
@media (max-width: 1400px){
.navbar-brand img {
    margin-left: 0px;
}
}
@media (max-width: 576px){
.percent_50_mobile {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.height_header{
  height: 270px;
}
@media (max-width: 1000px){
.height_header{
  height: unset;
}
}